.avisoFactura{
    padding:1em;
    background-color: rgba(#2339bf,0.75);
    width:80%;
    margin:.5em auto; 
    border-radius:20px;

    label{
        background: linear-gradient(#4cff00,#ffd800,#4cff00);
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
    }

    a{
        background: linear-gradient(#2339bf,#00ffff,#00ffff);
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
        cursor:pointer;

        &:hover{
            background: linear-gradient(#ffd800,#4cff00,#ffd800);
            color: transparent;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -o-background-clip: text;

        }
    }
}

.contenedorFactura{
    min-height:100vh !important;
}

.ajusteImagen{
    object-fit: cover;
    height: 300px;
}

.titularPDF{
    padding: .5em 0;
    margin: 0;
    text-align: center;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    background-color: #88f8f8;
    color: #007777;
    font-weight: 100 !important;
    font-size: 45px;
}

.contenedorPDF{
    margin: 0 10%;
    font-family: 'comic sans ms','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //position: relative;
    
    .contenedorCuerpo{
        margin: 10px 0;
        //overflow: auto;

        .tarjetaProducto{
            width: 55%;
            box-sizing: border-box;
            padding: 10px;
            border: #2339bf solid 1px;
            //margin: 5px auto auto auto;
            float: left;

            .imagenNombre,.tarjetaItem{
                margin: 5px 0;
                display: block;
                padding-left: 20px;
            }

            .imagenNombre{
                font-size: 2em;
                text-align: center;
                font-style: italic;
            }

            .imagenProducto{
                display: block;
                margin: 0;
                width: 100%;
                height: 350px;
                object-fit: cover;
            }

            .tarjetaCabecera{
                margin-top: 10px;
                border-top: 1px solid #697979;
                
                
            .tarjetaItem{
                color: #1f5bca;

                .itemDato{
                        background-color: #00a116dc;
                        color: white;
                        padding: 3px; 
                                
                    }

                }

            }

        }

        .infoCompra{
            width: 40%;
            float: right;
            box-sizing: border-box;

            .datosCompra{
                margin-bottom: 10px;

                .tituloCompra{
                    border-top: #007777 solid 2px;
                    border-right: #007777 solid 2px;
                    background-color: #62caca;
                    padding: 5px;
                    text-align: center;
                    font-weight: 100;
                    margin: 0;
                }

                .datoItem{
                    color: #1f5bca;
                    margin: 5px 0;
                    display: block;
                    padding: 10px;
                    margin: 0;
                    background-color: #e2e4f0;
                    border: solid 1px #363636;


                    .itemDato{
                        background-color: #00a116dc;
                        color: white;
                        padding: 3px; 
                        
                        
                    }

                }

            }

        }
    }

}

.contenedorPie{
    position: absolute;
    top: 90%;
    left: 10%;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17.5px;

    .datoItem{
        padding: 3px;
        box-sizing: border-box;
        color: #1f5bca;

        .itemDato{
            background-color: #00a116dc;
            color: white;
            padding: 3px;
        }


    }
}
